.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: -webkit-sticky !important;
  position: fixed !important;
  top: 0;
  background-color: white;
}

.menu-options {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.menu-item {
  padding: 1rem;
}

.content {
  width: 100%;
  margin-top: 125px;
}
